@use '../../styles/_mixins.scss' as *;
@use '../../styles/global.scss' as *;
@use "sass:map";

/**
 * VIcon Component Styles
 * ========================================================================
 * CSS Variables used (defined in theme.scss/:root):
 * 
 * Sizes: --df-icon-font-size-* (controls both font-size and SVG dimensions)
 * Colors: Inherited from theme (--df-color-*, --df-color-on-*)
 * 
 * Reference: See src/styles/_icon-variables.scss for full documentation
 */

.v-icon {
  overflow: hidden;
  align-items: center;
  display: inline-flex;
  font-feature-settings: "liga";
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  position: relative;
  text-indent: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
  vertical-align: middle;
  @include prefix(user-select, none);
  opacity: 1;

  $sizes: map.keys($df-sizes);

  @each $size in $sizes {
    &--size-#{$size} {
      font-size: var(--df-icon-font-size-#{$size});

      .v-icon__svg {
        height: var(--df-icon-font-size-#{$size});
        width: var(--df-icon-font-size-#{$size});
      }
    }
  }

  &--disabled {
    pointer-events: none;
  }
}