@use 'sass:map';
// Global sizes
$df-sizes: map.merge(("x-small": "x-small",
            "small": "small",
            "default": "default",
            "large": "large",
            "x-large": "x-large",
        ), ()) !default;