@use './mixins' as *;

@include animation('progress-circular-rotate') {
    to {
        transform: rotate(1turn);
    }
}

@include animation('progress-circular-dash') {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0px;
    }

    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px;
    }

    to {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -124px;
    }
}

.e-progress-circular {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.e-progress-circular--indeterminate svg {
    -webkit-animation: progress-circular-rotate 1.4s linear infinite;
    animation: progress-circular-rotate 1.4s linear infinite;
    transform-origin: center center;
    transition: transform 0.2s ease-in-out;
}

.e-progress-circular svg {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.e-progress-circular--indeterminate .e-progress-circular__overlay {
    -webkit-animation: progress-circular-dash 1.4s ease-in-out infinite;
    animation: progress-circular-dash 1.4s ease-in-out infinite;
    stroke-linecap: round;
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0px;
}

.e-progress-circular__overlay {
    stroke: currentColor;
    z-index: 2;
    transition: stroke-dashoffset 0.6s ease-in-out;
}