/* Efecto ripple para DashForge
  Personaliza color, duración y animación desde la directiva
*/
@use './mixins' as *;

@include animation('v-ripple') {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

.v-ripple-element {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  .v-ripple {
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    transform: scale(0);
    animation: v-ripple linear;
  }
}